<!DOCTYPE html>
<html>

<head>
<meta charSet="utf-8" class="next-head" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" class="next-head" />
    <meta name="language" content="english" class="next-head" />
    <meta name="author" content="UrbanSitter, Inc." class="next-head" />
    <meta name="description"
        content="Unlock your babysitter network. Connect with babysitters &amp; nannies of friends, coworkers, moms groups, and parents from your kid&#x27;s school. Book babysitting jobs instantly. Start your babysitter or nanny search today with UrbanSitter."
        class="next-head" />
    <meta name="robots" content="index, follow" class="next-head" />
    <meta name="google-site-verification" content="cQIvvfvZPLX7vilSQxcmpZLQKGlJI0PJ8I9RMO2jETo" class="next-head" />
    <title class="next-head">Find Babysitters, Nannies, and Child Care - UrbanSitter</title>
    <meta property="og:title" content="Find Babysitters, Nannies, and Child Care - UrbanSitter" class="next-head" />
    <meta property="og:description"
        content="Unlock your babysitter network. Connect with babysitters &amp; nannies of friends, coworkers, moms groups, and parents from your kid&#x27;s school. Book babysitting jobs instantly. Start your babysitter or nanny search today with UrbanSitter."
        class="next-head" />
    <meta property="og:image" content="https://assets.urbansitter.com/assets/img/facebook_share.jpg"
        class="next-head" />
    <meta property="og:site_name" content="UrbanSitter" class="next-head" />
    <link rel="preload"
        href="https://assets.urbansitter.com/marketing/_next/static/0r587LzGIOk_4apeY_ui9/pages/index.js" as="script" />
    <link rel="preload" href="https://assets.urbansitter.com/marketing/_next/static/0r587LzGIOk_4apeY_ui9/pages/_app.js"
        as="script" />
    <link rel="preload"
        href="https://assets.urbansitter.com/marketing/_next/static/0r587LzGIOk_4apeY_ui9/pages/_error.js"
        as="script" />
    <link rel="preload"
        href="https://assets.urbansitter.com/marketing/_next/static/runtime/webpack-42652fa8b82c329c0559.js"
        as="script" />
    <link rel="preload"
        href="https://assets.urbansitter.com/marketing/_next/static/chunks/commons.bdea3f27bb37ee126e68.js"
        as="script" />
    <link rel="preload"
        href="https://assets.urbansitter.com/marketing/_next/static/runtime/main-9a790210d44074cf18e4.js" as="script" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://www.googletagmanager.com" />
    <link rel="preconnect" href="https://ssl.google-analytics.com" />
    <link rel="preconnect" href="https://dnt.qualaroo.com" />
    <link rel="preconnect" href="https://s3.amazonaws.com" />
    <link rel="preconnect" href="https://player.vimeo.com" />
    <link rel="preconnect" href="https://cdn.branch.io" />
    <link rel="preconnect" href="https://api.branch.io" />
    <link rel="preconnect" href="https://connect.facebook.net" />
    <link rel="preconnect" href="https://www.facebook.com" />
    <link rel="preconnect" href="https://platform.linkedin.com" />
    <link rel="preconnect" href="https://www.linkedin.com" />
    <link rel="preconnect" href="https://app.link" />
    <link rel="preconnect" href="https://vimeo.com" />
    <link rel="dns-prefetch" href="https://fonts.googleapis.com" />
    <link rel="dns-prefetch" href="https://www.googletagmanager.com" />
    <link rel="dns-prefetch" href="https://ssl.google-analytics.com" />
    <link rel="dns-prefetch" href="https://dnt.qualaroo.com" />
    <link rel="dns-prefetch" href="https://s3.amazonaws.com" />
    <link rel="dns-prefetch" href="https://player.vimeo.com" />
    <link rel="dns-prefetch" href="https://cdn.branch.io" />
    <link rel="dns-prefetch" href="https://api.branch.io" />
    <link rel="dns-prefetch" href="https://connect.facebook.net" />
    <link rel="dns-prefetch" href="https://www.facebook.com" />
    <link rel="dns-prefetch" href="https://platform.linkedin.com" />
    <link rel="dns-prefetch" href="https://www.linkedin.com" />
    <link rel="dns-prefetch" href="https://app.link" />
    <link rel="dns-prefetch" href="https://vimeo.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-itunes-app-tab" content="app-id=548126716" />
    <meta name="google-play-app" content="app-id=com.urbansitter.android" />
    <meta name="google-play-app-tab" content="app-id=com.urbansitter.android" />
    <meta property="og:url" content="https://www.urbansitter.com/" />
    <link rel="canonical" href="https://www.urbansitter.com/" />
    <link href="https://plus.google.com/116159781996738595224" rel="publisher" />
    <link rel="apple-touch-icon" href="https://assets.urbansitter.com/assets/img/icons/urbansitter_app_icon.png" />
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Home Page</title>
</head>

<body>
  <div class="background">
   
  </div>
      {{{body}}}
</body>

</html>