<!DOCTYPE html>
<html>

<head>
  <meta charSet="utf-8" />
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="language" content="english" />
  <meta name="author" content="Ninja Nanny" />
  <meta name="description" content="Unlock your babysitter network." />
  <title class="next-head">Find Babysitters, Nannies, and Child Care - Ninja Nanny</title>
  <!-- JQuery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">
 
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">

  {{!-- <script src="/public/js/nannyInput.js"></script> --}}
  <script type="text/javascript" src="js/nannyInput.js"></script>

  <title>Home Page</title>
  <link rel="stylesheet" href="/styles/css/availability-grid.css">
  <style type="text/css">
        html:not(.grid-added) .grid-fieldset { display:none }
        body {
          text-align:center;
        }
        #availability-grid-form {
          max-width:42em;
          margin-left:auto;
          margin-right:auto;
          width: 300px;
        }
        .availability-grid {
          width:100%;
        }
        #console {
          max-width:100%;
          overflow-x:auto;
        }
        #a11y-prefs {
          margin-bottom:1em;
        }
        #a11y-prefs {
          display:flex;
          justify-content:center;
        }
        #a11y-prefs .selection {
          padding-top:.75em;
        }
      </style>
      <script>
        (function(){
          var html = document.querySelector('html');
          html.classList.remove('no-js');
          html.classList.add('js');
        })();
      </script>
</head>

<body>
  <div class="background"></div>
  {{{body}}}
 
</body>

</html>
