<div class="background_1"></div>
<div class="Header__HeaderWrapper-qqxel2-0 fvhnMa">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <a href="/" title="Ninja Nanny home" id="home-logo" class="Logo bdnhPs"></a>
            </div>
            <div class="Header__HeaderRight-qqxel2-3 cgFVZJ col-8">
                <a id="login-button" href="/auth/google" class="Header__LoginButton-qqxel2-1 fwjFVr btn btn-login btn-lg">Log
                    In</a>
                <a id="login-button" href="/sign-up" class="Header__SignUpButton-qqxel2-2 ecnEOQ btn btn-signup">Sign Up</a>
            </div>
        </div>
    </div>
</div>

<div class="mainpage_body">
    <div class="container">
        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-4">
                <img id= "nannyOne" src="/img/nanny_2.jpeg" alt="nanny">
            </div>
            <div class="col-md-2">
                <img id= "nannyThree" src="/img/nanny_4.jpg" alt="nanny">
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <h1 class="mainpage_heading">The babysitter network you can rely on</h1>
                <p class= "mainpage_narrative"> Ninja Nanny lets you find and book babysitters and nannies
                    who best fit your
                    family needs.</p>
                    <i class="fas fa-alarm-clock"></i>
                <a href="/auth/google" id="parent-signup" class="btn btn-primary btn-lg">Find Childcare</a>
                <a href="/auth/google" id="sitter-signup" class="btn btn-primary btn-lg">Apply to Jobs</a>
            </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-4">
                <img id= "nannyTwo" src="/img/nanny_3.jpg" alt="nanny">
            </div>

        </div>
        <div class="row">
            <div class="col-lg-6">
                
            </div>

        </div>
    </div>
</div>