<div id="__next">
    <div class="d-flex flex-column" style="min-height:100vh">
      <div class="Header__HeaderWrapper-qqxel2-0 fvhnMa">
        <div class="container">
          <div class="row">
            <div class="col-4"><a href="/" title="UrbanSitter home" id="home-logo" class="Logo-sc-1df78ou-0 bdnhPs"></a>
            </div>
            <div class="Header__HeaderRight-qqxel2-3 cgFVZJ col-8"><a id="login-button" href="/login"
                class="Header__LoginButton-qqxel2-1 fwjFVr btn btn-login btn-lg">Log In</a>
              <div class="btn-group"><button type="button" id="signup-button" aria-haspopup="true" aria-expanded="false"
                  class="Header__SignUpButton-qqxel2-2 ecnEOQ btn btn-signup">Sign Up</button>
                <div tabindex="-1" role="menu" aria-hidden="true"
                  class="Dropdown__USDropdownMenu-qr1qyj-0 demVCo dropdown-menu dropdown-menu-right">
                  <a id="sitter-signup" href="/signup/sitter" tabindex="0"
                    class="Dropdown__USDropdownItem-qr1qyj-1 blgoJJ dropdown-item">Are you a sitter?
                    FIND JOBS</a><a id="parent-signup" href="/signup/parent" tabindex="0"
                    class="Dropdown__USDropdownItem-qr1qyj-1 blgoJJ dropdown-item">Are you a parent?
                    FIND SITTERS</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>