<div class="background_1"></div>
<div class="Header__HeaderWrapper-qqxel2-0 fvhnMa">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <a href="/" title="Ninja Nanny home" id="home-logo" class="Logo bdnhPs"></a>
            </div>
            <div class="Header__HeaderRight-qqxel2-3 cgFVZJ col-8">
                <a id="login-button" href="/login" class="Header__LoginButton-qqxel2-1 fwjFVr btn btn-login btn-lg">Log
                    In</a>
                <a id="login-button" href="/sign-up" class="Header__SignUpButton-qqxel2-2 ecnEOQ btn btn-signup">Sign
                    Up</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5 order-md-1" class="rounded">
        <h1 class="mainpage_heading" style="text-align: center">Search Results</h1>
        <p style="font-size: 18px; color: #EE4C7C;"></p>
        {{!-- <a href="/signup/parent" id="parent-signup" class="btn btn-primary btn-lg">Find Childcare</a>
                <a href="/signup/sitter" id="sitter-signup" class="btn btn-primary btn-lg">Apply to Jobs</a> --}}
    </div>

</div>

<div class="row">
    <div class="col-md-6 order-md-2">
        <div class="search">
            <div class="container">
                <div class="row">
                    <div class="row" style="width: 35rem ;">
                        <img class="card-img-x" src="../../img/Mary_Poppins.jpg" alt="Mary" width="100" height="150">
                        <div class="col-md-8" style="float-right;">
                            <h5 class="card-title">Bio</h5>
                            <p class="card-text">A quintessential English nanny, Mary Poppins is a slightly stern but
                                caring woman, who uses magic and self-control to take care your children.
                            </p>
                            <a href="#" class="btn btn-primary">Learn More</a>
                            <a class="btn btn-large btn-primary logout" href="#">
                                <i class="fas fa-envelope-square"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 order-md-1">
        <div class="row center-content">
            <aside class="col-sm-4" ;>
                <p>Days & Times</p>


                <div class="card" style="width: 15rem;">
                    <article class="card-group-item">
                        <header class="card-header">
                            <h6 class="title">Days</h6>
                        </header>
                        <div class="filter-content">
                            <div class="card-body">
                                <form>
                                    <label class="form-check">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-label">
                                            Mon
                                        </span>
                                    </label> <!-- form-check.// -->
                                    <label class="form-check">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-label">
                                            Tues
                                        </span>
                                    </label> <!-- form-check.// -->
                                    <label class="form-check">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-label">
                                            Weds
                                        </span>
                                    </label>
                                    <label class="form-check">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-label">
                                            Thurs
                                        </span>
                                    </label>
                                    <label class="form-check">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-label">
                                            Fri
                                        </span>
                                    </label>
                                    <label class="form-check">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-label">
                                            Sat
                                        </span>
                                    </label>
                                    <label class="form-check">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-label">
                                            Sun
                                        </span>
                                    </label> <!-- form-check.// -->
                                </form>

                            </div> <!-- card-body.// -->
                        </div>
                    </article> <!-- card-group-item.// -->

                    <article class="card-group-item">
                        <header class="card-header">
                            <h6 class="title">Choose Time</h6>
                        </header>
                        <div class="filter-content">
                            <div class="card-body">
                                <div>
                                    <input type="radio" id="mornAftn" name="drone" value="mornAftn">
                                    <label id="mornAftnLabel" for="mornAftn">Morn/Aftn</label>
                                </div>
                                <div>
                                    <input type="radio" id="mornAftn" name="drone" value="mornAftn">
                                    <label id="mornAftnLabel" for="mornAftn">Nights</label>
                                </div>
                                <div>
                                    <input type="radio" id="mornAftn" name="drone" value="mornAftn">
                                    <label id="mornAftnLabel" for="mornAftn">Both</label>
                                </div>
                            </div> <!-- card-body.// -->
                        </div>
                    </article> <!-- card-group-item.// -->
                </div> <!-- card.// -->

        </div>
    </div>
</div>




{{!-- </div>
            <div class="row">
                <div class="col-lg-6">

                </div> --}}

{{!-- 
        </div>
    </div>

</div> --}}