<div class="Header__HeaderWrapper-qqxel2-0 fvhnMa">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <a href="/" title="Ninja Nanny home" id="home-logo" class="Logo bdnhPs"></a>
            </div>
            <div class="Header__HeaderRight-qqxel2-3 cgFVZJ col-8">
                <a id="login-button" href="/login" class="Header__LoginButton-qqxel2-1 fwjFVr btn btn-login btn-lg">Log
                    In</a>
                <div class="btn-group">
                    <button type="button" id="signup-button" aria-haspopup="true" aria-expanded="false"
                        class="Header__SignUpButton-qqxel2-2 ecnEOQ btn btn-signup">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="search">
    <div class="container">
        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-4">
                {{!-- <img id= "nannyOne" src="/img/nanny_2.jpeg" alt="nanny"> --}}
            </div>
            <div class="col-md-2">
                {{!-- <img id= "nannyThree" src="/img/nanny_4.jpg" alt="nanny"> --}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-5" class="rounded">
                <h1 class="mainpage_heading">Search Results</h1>
                <p style="font-size: 18px; color: #EE4C7C;"></p>
                {{!-- <a href="/signup/parent" id="parent-signup" class="btn btn-primary btn-lg">Find Childcare</a>
                <a href="/signup/sitter" id="sitter-signup" class="btn btn-primary btn-lg">Apply to Jobs</a> --}}
            </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-4">
                {{!-- <img id= "nannyTwo" src="/img/nanny_3.jpg" alt="nanny"> --}}
            </div>

        </div>
        <div class="row">
            <div class="col-lg-6">
                
            </div>

        </div>
    </div>
</div>