<div class="background_2"></div>
<div class="Header__HeaderWrapper-qqxel2-0 fvhnMa">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <a href="/" title="Ninja Nanny home" id="home-logo" class="Logo bdnhPs"></a>
            </div>
            <div class="Header__HeaderRight-qqxel2-3 cgFVZJ col-8">
                <a id="login-button" href="/" class="Header__SignUpButton-qqxel2-2 ecnEOQ btn btn-signup">Sign Out</a>
            </div>
        </div>
    </div>
</div>


<div class="mainpage_body">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
          <h1 class="sign_up_heading">Hello User!</h1>
      </div>
    </div>
  </div>
  <div class="container sign_up_box">
    <div class= "row">
      <div class="col-md-12">
        <h3 class="question">You're here to</h3>
      </div>
    </div>
    <div class= "row">
      <div class="col-md-12 answer">
        {{!-- <h3 class="answer">Here are the answers</h3> --}}
        <input type="radio" name="type" value="nanny"> Look for a job
        <input type="radio" name="gender" value="family"> Find a sitter
      </div>
    </div>
    <button type="button" class="btn btn-secondary next">Next</button>
  </div>
</div>