<div class="background_2"></div>
<div class="Header__HeaderWrapper-qqxel2-0 fvhnMa">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <a href="/" title="Ninja Nanny home" id="home-logo" class="Logo bdnhPs"></a>
      </div>
      <div class="Header__HeaderRight-qqxel2-3 cgFVZJ col-8">
        <a id="login-button" href="/" class="Header__SignUpButton-qqxel2-2 ecnEOQ btn btn-signup">Sign Out</a>
      </div>
    </div>
  </div>
</div>


<div class="mainpage_body">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h1 class="sign_up_heading">Hello User!</h1>
      </div>
    </div>
  </div>
  <div class="container sign_up_box">
    <div class="row questionRow">
      <div class="col-md-12 question">
        <h3>You're here to</h3>
      </div>
    </div>
    <div class="row answerRow">
      <div class="col-md-12 answer">
        {{!-- <h3 class="answer">Here are the answers</h3> --}}
        <input class="sign-up-radio" type="radio" name="type" value="nanny" id="nanny"> Look for a job
        <input class="sign-up-radio" type="radio" name="type" value="family" id="family"> Find a sitter
      </div>
    </div>
    <div class="selector">
      <button type="button" class="btn btn-secondary next">Next</button>
    </div>
  </div>
</div>

<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.7/js/mdb.min.js"></script>

<script type="text/javascript">
var newNanny = {};
var counter = 0;

  $(".next").on("click", function () {
  if (counter == 0){
      newNanny.nanny = nanny.checked
      counter++;
  }else if (counter == 1){
    //skillsInfo();
  }
  console.log(newNanny);
  console.log(counter);
  

  signupQuestions();
  });

  var nanny = document.getElementById("nanny");
  var family = document.getElementById("family");

  var makingMeals = document.getElementById("makingMeals");
  var reading = document.getElementById("reading");
  var firstAid = document.getElementById("firstAid");
  var newbornCare= document.getElementById("newbornCare");
  var math= document.getElementById("math");
  var driving= document.getElementById("driving");
  var problemSolving= document.getElementById("problemSolving");
  var music = document.getElementById("music");

  function signupQuestions() {
    if (nanny.checked) {
      nannyQuestions();
    }

    if (family.checked) {
      familyQuestions();
    }

    if (!nanny.checked && !family.checked) {
      alert("Please select an option");
    }
  };




  function nannyQuestions() {
    nannySkills();
  };

  function familyQuestions() {
    familySummary();
  };


  async function questionsFrameSetup() {
    $(".sign_up_box").css("height", "300px");

    if ( $(".questionRow")[0] ) {
      $(".questionRow").empty();
    }

    if ( $(".answerRow")[0] ) {
      $(".answerRow").empty();
    } 

    if ( $(".selector")[0]) {
      $(".selector").empty();
    }
  }

  async function nannySkills() {
    await questionsFrameSetup();

    var question = $('<div>').addClass("col-md-12 question");
    question.html("<h4>Let's talk about some of the skills you're good at: </h4>");
    $(".questionRow").append(question)

    var answer = $('<div>').addClass("col-md-12 answer");
    answer.html('<div class="form-check form-check-inline"><input type="checkbox" class="form-check-input" id="makingMeals" value="Making Meals"><label class="form-check-label" for="makingMeals">Making Meals</label></div><div class="form-check form-check-inline"><input type="checkbox" class="form-check-input" id="reading" value="reading "><label class="form-check-label" for="reading">Reading</label></div><div class="form-check form-check-inline"><input type="checkbox" class="form-check-input" id="firstAid" value ="first Aid"><label class="form-check-label" for="firstAid">First Aid</label></div><div class="form-check form-check-inline"><input type="checkbox" class="form-check-input" id="newbornCare" value="NewBorn Care"><label class="form-check-label" for="newbornCare">Newborn Care</label></div><br><div class="form-check form-check-inline"><input type="checkbox" class="form-check-input" id="math" value="Math"><label class="form-check-label" for="math">Math</label></div><div class="form-check form-check-inline"><input type="checkbox" class="form-check-input" id="driving" value="Driving"><label class="form-check-label" for="driving">Driving</label></div><div class="form-check form-check-inline"><input type="checkbox" class="form-check-input" id="problemSolving" value="Problem Solving"><label class="form-check-label" for="problemSolving">Problem Solving</label></div><div class="form-check form-check-inline"><input type="checkbox" class="form-check-input" id="music" value="Music"><label class="form-check-label" for="music">Music</label></div>')
    $(".answerRow").append(answer);

    var btn_continue = $('<div>').addClass("btn btn-secondary continue");
    btn_continue.text("Continue");
    $(".selector").append(btn_continue);

    btn_continue.on("click", function () {  
      skillsInfo();
      nannySummary();
    });
  }

  async function nannySummary() {
    await questionsFrameSetup();

    $(".sign_up_box").css("height", "350px");

    var question = $('<div>').addClass("col-md-12 question");
    question.html("<h4>What would you like the families to know about you</h4>");
    $(".questionRow").append(question);

    var answer = $('<div>').addClass("expandingArea");
    answer.html('<pre><span></span><br></pre><textarea id="bio"></textarea>')
    answer.css("margin-bottom", "50px");
    $(".answerRow").append(answer);

    var btn_back = $("<div>").addClass("btn btn-secondary back");;
    btn_back.text("Back")
    $(".selector").append(btn_back);

    var btn_continue = $("<div>").addClass("btn btn-secondary continue");
    btn_continue.text("Continue");
    $(".selector").append(btn_continue);

    btn_back.on("click", function () {
   
      nannySkills();
    });

    btn_continue.on("click", function () {
    bio();
    nannyPay();
    });
  }

  async function nannyPay() {
    await questionsFrameSetup();

    var question = $('<div>').addClass("col-md-12 question");
    question.html("<h4>What is your expected pay</h4>");
    $(".questionRow").append(question);

    var answer = $('<div>').addClass("answer slidecontainer");
    answer.html('<input type="range" min="10" max="50" value="20" class="slider" id="myRange"><p style="margin-top: 10px">Base Pay/Hr: $ <span id="demo"></span></p>')
    answer.css("margin-bottom", "20px");
    $(".answerRow").append(answer);

    var slider = document.getElementById("myRange");
    var output = document.getElementById("demo");
    output.innerHTML = slider.value;

    slider.oninput = function () {
      output.innerHTML = this.value;
    }
    
    var btn_back = $("<div>").addClass("btn btn-secondary back");;
    btn_back.text("Back")
    $(".selector").append(btn_back);

    var btn_continue = $("<div>").addClass("btn btn-secondary continue");
    btn_continue.text("Continue");
    $(".selector").append(btn_continue);

    btn_back.on("click", function () {
    
      nannySummary();
    });

    btn_continue.on("click", function () {
      newNanny.basePay = slider.value;
      console.log(newNanny);
      nannyAvailabiltiy();
    });
  }

  async function nannyAvailabiltiy() {
    await questionsFrameSetup();
    $(".sign_up_box").css("height", "350px");

    var question = $('<div>').addClass("col-md-12 question");
    question.html("<h4>How often are you willing to babysit</h4>");
    $(".questionRow").append(question);

    var answer = $('<div>').addClass("col-md-12 answer");
    answer.css("margin-bottom", "80px");
    answer.load("/availability");
    $(".answerRow").append(answer);

    var btn_back = $("<div>").addClass("btn btn-secondary back");;
    btn_back.text("Back")
    $(".selector").append(btn_back);

    var btn_continue = $("<div>").addClass("btn btn-secondary continue");
    btn_continue.text("Continue");
    $(".selector").append(btn_continue);

    btn_back.on("click", function () {
      
      nannyPay();
    });

    btn_continue.on("click", function () {

      nannyDays();
      nannyZipLocation();
    });
  }

  async function nannyZipLocation() {
    await questionsFrameSetup();
    
    var question = $('<div>').addClass("col-md-12 question");
    question.html("<h4>Find families near you</h4>");
    $(".questionRow").append(question);

    var answer = $('<div>').addClass("col-md-12 answer");
    answer.html('<input id="zip" name="zip" type="text" placeholder="Enter zipcode">');
    $(".answerRow").append(answer);

    var btn_back = $("<div>").addClass("btn btn-secondary back");;
    btn_back.text("Back")
    $(".selector").append(btn_back);

    var btn_continue = $("<div>").addClass("btn btn-secondary continue");
    btn_continue.text("Search for Jobs");
    $(".selector").append(btn_continue);

    btn_back.on("click", function () {
      nannyAvailabiltiy();
    });

    btn_continue.on("click", function () {
      var isValidZip = /^\d{5}(?:-?\d{4})?$/.test($('#zip').val());
      if (isValidZip) {
        console.log("It works");
        $('body').load('/search');
      }
      
      if (!isValidZip || answer.length == 0) {
        alert("Please enter a valid zipcode");
      }
      zipInfo();

    });
  }

  async function familySummary() {
    await questionsFrameSetup();

    $(".sign_up_box").css("height", "350px");

    var question = $('<div>').addClass("col-md-12 question");
    question.html("<h4>What would you like the nannies to know about you</h4>");
    $(".questionRow").append(question);

    var answer = $('<div>').addClass("expandingArea");
    answer.html('<pre><span></span><br></pre><textarea></textarea>')
    answer.css("margin-bottom", "50px");
    $(".answerRow").append(answer);

    var btn_continue = $("<div>").addClass("btn btn-secondary continue");
    btn_continue.text("Continue");
    $(".selector").append(btn_continue);

    btn_continue.on("click", function () {
      
      familyPay();
    });
  }

  async function familyPay() {
    await questionsFrameSetup();

    var question = $('<div>').addClass("col-md-12 question");
    question.html("<h4>How much are you willing to pay</h4>");
    $(".questionRow").append(question);

    var answer = $('<div>').addClass("answer slidecontainer");
    answer.html('<input type="range" min="10" max="50" value="20" class="slider" id="myRange"><p style="margin-top: 10px">Base Pay/Hr: $ <span id="demo"></span></p>')
    answer.css("margin-bottom", "20px");
    $(".answerRow").append(answer);

    var slider = document.getElementById("myRange");
    var output = document.getElementById("demo");
    output.innerHTML = slider.value;

    slider.oninput = function () {
      output.innerHTML = this.value;
    }

    var btn_back = $("<div>").addClass("btn btn-secondary back");;
    btn_back.text("Back")
    $(".selector").append(btn_back);

    var btn_continue = $("<div>").addClass("btn btn-secondary continue");
    btn_continue.text("Continue");
    $(".selector").append(btn_continue);

    btn_back.on("click", function () {
      familySummary();
    });

    btn_continue.on("click", function () {
      familyZipLocation();
    });
  }

  async function familyZipLocation() {
    await questionsFrameSetup();
    
    var question = $('<div>').addClass("col-md-12 question");
    question.html("<h4>Find Nannies near you</h4>");
    $(".questionRow").append(question);

    var answer = $('<div>').addClass("col-md-12 answer");
    answer.html('<input id="zip" name="zip" type="text" placeholder="Enter zipcode">');
    $(".answerRow").append(answer);

    var btn_back = $("<div>").addClass("btn btn-secondary back");
    btn_back.text("Back");
    $(".selector").append(btn_back);

    var btn_continue = $("<div>").addClass("btn btn-secondary continue");
    btn_continue.text("Search Nannies");
    $(".selector").append(btn_continue);

    btn_back.on("click", function () {
      nannyAvailabiltiy();
    });

    btn_continue.on("click", function () {
      var isValidZip = /^\d{5}(?:-?\d{4})?$/.test($('#zip').val());
      if (isValidZip) {
        console.log("It works");
        $('body').load('/search');
      }      
      if (!isValidZip || answer.length == 0) {
        alert("Please enter a valid zipcode");
      }
    });
  }

  function makeExpandingArea(container) {
    var area = container.querySelector('textarea');
    var span = container.querySelector('span');
    if (area.addEventListener) {
      area.addEventListener('input', function () {
        span.textContent = area.value;
      }, false);
      span.textContent = area.value;
    } else if (area.attachEvent) {
      // IE8 compatibility
      area.attachEvent('onpropertychange', function () {
        span.innerText = area.value;
      });
      span.innerText = area.value;
    }
    // Enable extra CSS
    container.className += "active";
  }
  
  var areas = document.querySelectorAll('.expandingArea');
  var l = areas.length; while (l--) {
    makeExpandingArea(areas[l]);
  }

function skillsInfo(){
  
   if (document.getElementById("makingMeals").checked){
      makingMeals = document.getElementById("makingMeals").value;
      console.log(makingMeals);
     }else{
       makinMeals = "";
     };
     if (document.getElementById("reading").checked){
       reading= document.getElementById("reading").value;
     }else{
       reading= "";
     };

     if (document.getElementById("firstAid").checked){
       firstAid= document.getElementById("firstAid").value;
     }else{
       firstAid= "";
     };

     if (document.getElementById("newbornCare").checked){
       newbornCare= document.getElementById("newbornCare").value;
     }else{
       newbornCare= "";
     };
    if (document.getElementById("math").checked){
       math= document.getElementById("math").value;
     }else{
       math= "";
     };
    if (document.getElementById("driving").checked){
       driving= document.getElementById("driving").value;
     }else{
       driving= "";
     };

      if (document.getElementById("problemSolving").checked){
       problemSolving= document.getElementById("problemSolving").value;
     }else{
       problemSolving= "";
     };

     if (document.getElementById("music").checked){
      music= document.getElementById("music").value;
     }else{
       music= "";
     };
    var skills = (makingMeals +" "+ reading +" "+ firstAid +" "+ newbornCare +" "+ math +" "+ driving+" " + problemSolving +","+ music)
    newNanny.skillsCerts = skills;
    console.log(newNanny);

};

function bio() {    
  var bio = document.getElementById("bio").value;
    console.log(bio);
    newNanny.bio = bio;
    console.log(newNanny);
};

function nannyDays(){
  if (
  document.getElementById("avail-mon-day").checked &&
  document.getElementById("avail-mon-night").checked &&
  document.getElementById("avail-mon-anytime").checked
) {
  var monday =
    document.getElementById("avail-mon-day").name +
    document.getElementById("avail-mon-night").name +
    document.getElementById("avail-mon-anytime").name;
  newNanny.monday = monday;
  console.log(newNanny);
} else if (
  document.getElementById("avail-mon-day").checked &&
  document.getElementById("avail-mon-night").checked
) {
  var monday =
    document.getElementById("avail-mon-day").name +
    document.getElementById("avail-mon-night").name;
  newNanny.monday = monday;
  console.log(newNanny);
} else if (
  document.getElementById("avail-mon-day").checked &&
  document.getElementById("avail-mon-anytime").checked
) {
  var monday =
    document.getElementById("avail-mon-day").name +
    document.getElementById("avail-mon-anytime").name;
  newNanny.monday = monday;
  console.log(newNanny);
} else if (
  document.getElementById("avail-mon-night").checked &&
  document.getElementById("avail-mon-anytime").checked
) {
  var monday =
    document.getElementById("avail-mon-night").name +
    document.getElementById("avail-mon-anytime").name;
  newNanny.monday = monday;
  console.log(newNanny);
} else if (document.getElementById("avail-mon-day").checked) {
  var monday = document.getElementById("avail-mon-day").name;
  newNanny.monday = monday;
  console.log(newNanny);
} else if (document.getElementById("avail-mon-night").checked) {
  var monday = document.getElementById("avail-mon-night").name;
  newNanny.monday = monday;
  console.log(newNanny);
} else if (document.getElementById("avail-mon-anytime").checked) {
  var monday = document.getElementById("avail-mon-anytime").name;
  newNanny.monday = monday;
  console.log(newNanny);
} else {
  var monday = "";
  newNanny.monday = monday;
  console.log(newNanny);
}

if (
  document.getElementById("avail-tue-day").checked &&
  document.getElementById("avail-tue-night").checked &&
  document.getElementById("avail-tue-anytime").checked
) {
  var tuesday =
    document.getElementById("avail-tue-day").name +
    document.getElementById("avail-tue-night").name +
    document.getElementById("avail-tue-anytime").name;
  newNanny.tuesday = tuesday;
  console.log(newNanny);
} else if (
  document.getElementById("avail-tue-day").checked &&
  document.getElementById("avail-tue-night").checked
) {
  var tuesday =
    document.getElementById("avail-tue-day").name +
    document.getElementById("avail-tue-night").name;
  newNanny.tuesday = tuesday;
  console.log(newNanny);
} else if (
  document.getElementById("avail-tue-day").checked &&
  document.getElementById("avail-tue-anytime").checked
) {
  var tuesday =
    document.getElementById("avail-tue-day").name +
    document.getElementById("avail-tue-anytime").name;
  newNanny.tuesday = tuesday;
  console.log(newNanny);
} else if (
  document.getElementById("avail-tue-night").checked &&
  document.getElementById("avail-tue-anytime").checked
) {
  var tuesday =
    document.getElementById("avail-tue-night").name +
    document.getElementById("avail-tue-anytime").name;
  newNanny.tuesday = tuesday;
  console.log(newNanny);
} else if (document.getElementById("avail-tue-day").checked) {
  var tuesday = document.getElementById("avail-tue-day").name;
  newNanny.tuesday = tuesday;
  console.log(newNanny);
} else if (document.getElementById("avail-tue-night").checked) {
  var tuesday = document.getElementById("avail-tue-night").name;
  newNanny.tuesday = tuesday;
  console.log(newNanny);
} else if (document.getElementById("avail-tue-anytime").checked) {
  var tuesday = document.getElementById("avail-tue-anytime").name;
  newNanny.tuesday = tuesday;
  console.log(newNanny);
} else {
  var tuesday = "";
  newNanny.tuesday = tuesday;
  console.log(newNanny);
}

if (
  document.getElementById("avail-wed-day").checked &&
  document.getElementById("avail-wed-night").checked &&
  document.getElementById("avail-wed-anytime").checked
) {
  var wednesday =
    document.getElementById("avail-wed-day").name +
    document.getElementById("avail-wed-night").name +
    document.getElementById("avail-wed-anytime").name;
  newNanny.wednesday = wednesday;
  console.log(newNanny);
} else if (
  document.getElementById("avail-wed-day").checked &&
  document.getElementById("avail-wed-night").checked
) {
  var wednesday =
    document.getElementById("avail-wed-day").name +
    document.getElementById("avail-wed-night").name;
  newNanny.wednesday = wednesday;
  console.log(newNanny);
} else if (
  document.getElementById("avail-wed-day").checked &&
  document.getElementById("avail-wed-anytime").checked
) {
  var wednesday =
    document.getElementById("avail-wed-day").name +
    document.getElementById("avail-wed-anytime").name;
  newNanny.wednesday = wednesday;
  console.log(newNanny);
} else if (
  document.getElementById("avail-wed-night").checked &&
  document.getElementById("avail-wed-anytime").checked
) {
  var wednesday =
    document.getElementById("avail-wed-night").name +
    document.getElementById("avail-wed-anytime").name;
  newNanny.wednesday = wednesday;
  console.log(newNanny);
} else if (document.getElementById("avail-wed-day").checked) {
  var wednesday = document.getElementById("avail-wed-day").name;
  newNanny.wednesday = wednesday;
  console.log(newNanny);
} else if (document.getElementById("avail-wed-night").checked) {
  var wednesday = document.getElementById("avail-wed-night").name;
  newNanny.wednesday = wednesday;
  console.log(newNanny);
} else if (document.getElementById("avail-wed-anytime").checked) {
  var wednesday = document.getElementById("avail-wed-anytime").name;
  newNanny.wednesday = wednesday;
  console.log(newNanny);
} else {
  var wednesday = "";
  newNanny.wednesday = wednesday;
  console.log(newNanny);
}
if (
  document.getElementById("avail-thur-day").checked &&
  document.getElementById("avail-thur-night").checked &&
  document.getElementById("avail-thur-anytime").checked
) {
  var thursday =
    document.getElementById("avail-thur-day").name +
    document.getElementById("avail-thur-night").name +
    document.getElementById("avail-thur-anytime").name;
  newNanny.thursday = thursday;
  console.log(newNanny);
} else if (
  document.getElementById("avail-thur-day").checked &&
  document.getElementById("avail-thur-night").checked
) {
  var thursday =
    document.getElementById("avail-thur-day").name +
    document.getElementById("avail-thur-night").name;
  newNanny.thursday = thursday;
  console.log(newNanny);
} else if (
  document.getElementById("avail-thur-day").checked &&
  document.getElementById("avail-thur-anytime").checked
) {
  var thursday =
    document.getElementById("avail-thur-day").name +
    document.getElementById("avail-thur-anytime").name;
  newNanny.thursday = thursday;
  console.log(newNanny);
} else if (
  document.getElementById("avail-thur-night").checked &&
  document.getElementById("avail-thur-anytime").checked
) {
  var thursday =
    document.getElementById("avail-thur-night").name +
    document.getElementById("avail-thur-anytime").name;
  newNanny.thursday = thursday;
  console.log(newNanny);
} else if (document.getElementById("avail-thur-day").checked) {
  var thursday = document.getElementById("avail-thur-day").name;
  newNanny.thursday = thursday;
  console.log(newNanny);
} else if (document.getElementById("avail-thur-night").checked) {
  var thursday = document.getElementById("avail-thur-night").name;
  newNanny.thursday = thursday;
  console.log(newNanny);
} else if (document.getElementById("avail-thur-anytime").checked) {
  var thursday = document.getElementById("avail-thur-anytime").name;
  newNanny.thursday = thursday;
  console.log(newNanny);
} else {
  var thursday = "";
  newNanny.thursday = thursday;
  console.log(newNanny);
}
if (
  document.getElementById("avail-fri-day").checked &&
  document.getElementById("avail-fri-night").checked &&
  document.getElementById("avail-fri-anytime").checked
) {
  var friday =
    document.getElementById("avail-fri-day").name +
    document.getElementById("avail-fri-night").name +
    document.getElementById("avail-fri-anytime").name;
  newNanny.friday = friday;
  console.log(newNanny);
} else if (
  document.getElementById("avail-fri-day").checked &&
  document.getElementById("avail-fri-night").checked
) {
  var friday =
    document.getElementById("avail-fri-day").name +
    document.getElementById("avail-fri-night").name;
  newNanny.friday = friday;
  console.log(newNanny);
} else if (
  document.getElementById("avail-fri-day").checked &&
  document.getElementById("avail-fri-anytime").checked
) {
  var friday =
    document.getElementById("avail-fri-day").name +
    document.getElementById("avail-fri-anytime").name;
  newNanny.friday = friday;
  console.log(newNanny);
} else if (
  document.getElementById("avail-fri-night").checked &&
  document.getElementById("avail-fri-anytime").checked
) {
  var friday =
    document.getElementById("avail-fri-night").name +
    document.getElementById("avail-fri-anytime").name;
  newNanny.friday = friday;
  console.log(newNanny);
} else if (document.getElementById("avail-fri-day").checked) {
  var friday = document.getElementById("avail-fri-day").name;
  newNanny.friday = friday;
  console.log(newNanny);
} else if (document.getElementById("avail-fri-night").checked) {
  var friday = document.getElementById("avail-fri-night").name;
  newNanny.friday = friday;
  console.log(newNanny);
} else if (document.getElementById("avail-fri-anytime").checked) {
  var friday = document.getElementById("avail-fri-anytime").name;
  newNanny.friday = friday;
  console.log(newNanny);
} else {
  var friday = "";
  newNanny.friday = friday;
  console.log(newNanny);
}
if (
  document.getElementById("avail-sat-day").checked &&
  document.getElementById("avail-sat-night").checked &&
  document.getElementById("avail-sat-anytime").checked
) {
  var saturday =
    document.getElementById("avail-sat-day").name +
    document.getElementById("avail-sat-night").name +
    document.getElementById("avail-sat-anytime").name;
  newNanny.saturday = saturday;
  console.log(newNanny);
} else if (
  document.getElementById("avail-sat-day").checked &&
  document.getElementById("avail-sat-night").checked
) {
  var saturday =
    document.getElementById("avail-sat-day").name +
    document.getElementById("avail-sat-night").name;
  newNanny.saturday = saturday;
  console.log(newNanny);
} else if (
  document.getElementById("avail-sat-day").checked &&
  document.getElementById("avail-sat-anytime").checked
) {
  var saturday =
    document.getElementById("avail-sat-day").name +
    document.getElementById("avail-sat-anytime").name;
  newNanny.saturday = saturday;
  console.log(newNanny);
} else if (
  document.getElementById("avail-sat-night").checked &&
  document.getElementById("avail-sat-anytime").checked
) {
  var saturday =
    document.getElementById("avail-sat-night").name +
    document.getElementById("avail-sat-anytime").name;
  newNanny.saturday = saturday;
  console.log(newNanny);
} else if (document.getElementById("avail-sat-day").checked) {
  var saturday = document.getElementById("avail-sat-day").name;
  newNanny.saturday = saturday;
  console.log(newNanny);
} else if (document.getElementById("avail-sat-night").checked) {
  var saturday = document.getElementById("avail-sat-night").name;
  newNanny.saturday = saturday;
  console.log(newNanny);
} else if (document.getElementById("avail-sat-anytime").checked) {
  var saturday = document.getElementById("avail-sat-anytime").name;
  newNanny.saturday = saturday;
  console.log(newNanny);
} else {
  var saturday = "";
  newNanny.saturday = saturday;
  console.log(newNanny);
}

if (
  document.getElementById("avail-sun-day").checked &&
  document.getElementById("avail-sun-night").checked &&
  document.getElementById("avail-sun-anytime").checked
) {
  var sunday =
    document.getElementById("avail-sun-day").name +
    document.getElementById("avail-sun-night").name +
    document.getElementById("avail-sun-anytime").name;
  newNanny.sunday = sunday;
  console.log(newNanny);
} else if (
  document.getElementById("avail-sun-day").checked &&
  document.getElementById("avail-sun-night").checked
) {
  var sunday =
    document.getElementById("avail-sun-day").name +
    document.getElementById("avail-sun-night").name;
  newNanny.sunday = sunday;
  console.log(newNanny);
} else if (
  document.getElementById("avail-sun-day").checked &&
  document.getElementById("avail-sun-anytime").checked
) {
  var sunday =
    document.getElementById("avail-sun-day").name +
    document.getElementById("avail-sun-anytime").name;
  newNanny.sunday = sunday;
  console.log(newNanny);
} else if (
  document.getElementById("avail-sun-night").checked &&
  document.getElementById("avail-sun-anytime").checked
) {
  var sunday =
    document.getElementById("avail-sun-night").name +
    document.getElementById("avail-sun-anytime").name;
  newNanny.sunday = sunday;
  console.log(newNanny);
} else if (document.getElementById("avail-sun-day").checked) {
  var sunday = document.getElementById("avail-sun-day").name;
  newNanny.sunday = sunday;
  console.log(newNanny);
} else if (document.getElementById("avail-sun-night").checked) {
  var sunday = document.getElementById("avail-sun-night").name;
  newNanny.sunday = sunday;
  console.log(newNanny);
} else if (document.getElementById("avail-sun-anytime").checked) {
  var sunday = document.getElementById("avail-sun-anytime").name;
  newNanny.sunday = sunday;
  console.log(newNanny);
} else {
  var sunday = "";
  newNanny.sunday = sunday;
  console.log(newNanny);
}

 
};

function zipInfo(){
  var zip = document.getElementById("zip").value;
    console.log(zip);
    newNanny.zipCode = zip;
    
    newNanny.googleId = "das";
    newNanny.email = "lizeth@uw.com"
    newNanny.name = "vera"
    console.log(newNanny);
     submitNannyInfo(newNanny);

}

function submitNannyInfo(post) {
      $.post("/api/nannies", post, function() {
        // window.location.href = "/";
      });
    }

</script>